body {
    background-color: lightgrey;
    font-family: Tahoma, Verdana, sans-serif ;
    padding-left: 20%;
    padding-right: 20%;

}


h1 {
    font-family: Geneva, Verdana, sans-serif;

}
h2, h3 {
    font-size: 130%;
    font-weight: 800;
    font-family: Garamond, serif;
}

p , li {
    text-align: justify;
}

table , td, th {
    border: 1px solid;
    text-align: center;
}

th, td {
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.profilePic {
    width: 23%;
    height: auto;
    float: right;
    border-radius: 50%;
}

.Icon {
    display: inline-flex;
    width: 15px;
}

.sendEmail {
    background-color: lightgrey;
    color: rgb(36, 33, 241);
    border: 2px solid rgb(116, 201, 116);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.sendEmail:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  
.githubLink:hover {
    font-size: 105%;
    background-color: rgb(15, 100, 126);
    color: rgb(240, 226, 226);

}

.languagesLogo {
    float: left;
    height: 70px;
    width:auto;
    object-fit: cover;
}